In [2]:
#Importing dependencies
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
# loading the dataset to a pandas dataframe
credit_card_data = pd.read_csv("creditcard.csv")

In [6]:
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [7]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [8]:
# Dataset information
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [9]:
# Checking the number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [10]:
# Distribution of legit and fraudulent transaction
credit_card_data['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

In [11]:
# This dataset is highly unbalanced
# 0 --> Legitimate Transaction
# 1 --> Fraudulent Transaction

In [12]:
# Seperating the data for analysis
legit= credit_card_data[credit_card_data.Class==0]
fraud= credit_card_data[credit_card_data.Class==1]

In [13]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [14]:
# Statistical measures of the data
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [15]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [16]:
# Compare the values for both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [17]:
# "Under-Sampling"
# Build a sample dataset containing similar distribution of normal transaction and fraudulent transaction
# Number of fraud transactions = 492
legit_sample = legit.sample(n=492)

In [18]:
legit_sample.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
226888,144844.0,-8.643721,-11.317988,0.719709,-0.053052,2.091756,-2.229891,-0.977848,-0.010060,-1.017303,...,-0.656137,1.272218,8.145399,0.500897,2.534335,0.352674,1.535486,-1.021980,545.30,0
125467,77683.0,1.369702,-0.325608,-0.145944,-1.411230,-0.420412,-0.766684,-0.082471,-0.186020,1.643143,...,-0.270739,-0.482629,-0.137842,-0.404315,0.700859,-0.031430,0.009141,0.002351,2.00,0
135791,81400.0,-1.784071,0.451153,0.735373,0.330019,-0.191160,1.277808,-0.524109,1.232136,-2.261542,...,-0.172664,-0.327027,-0.003326,-0.997452,-0.050477,-0.188121,-0.175195,-0.152791,62.91,0
158246,111102.0,2.103885,0.050468,-1.432952,0.325548,0.375125,-0.725293,0.040783,-0.335604,2.113656,...,0.091110,0.641035,-0.004778,0.425669,0.353906,-0.474106,-0.025983,-0.056976,1.00,0
165215,117279.0,2.076271,-0.151421,-1.751806,-0.181917,0.534995,-0.343475,0.156673,-0.093890,0.510772,...,-0.128483,-0.277073,0.171547,0.216132,0.047025,-0.096484,-0.059622,-0.072734,1.00,0

In [19]:
# Concatenating 2 dataframes
new_dataset= pd.concat([legit_sample, fraud], axis=0)
# axis=0 dataframe is added one by one row wise and axis=1 column wise

In [20]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
226888,144844.0,-8.643721,-11.317988,0.719709,-0.053052,2.091756,-2.229891,-0.977848,-0.010060,-1.017303,...,-0.656137,1.272218,8.145399,0.500897,2.534335,0.352674,1.535486,-1.021980,545.30,0
125467,77683.0,1.369702,-0.325608,-0.145944,-1.411230,-0.420412,-0.766684,-0.082471,-0.186020,1.643143,...,-0.270739,-0.482629,-0.137842,-0.404315,0.700859,-0.031430,0.009141,0.002351,2.00,0
135791,81400.0,-1.784071,0.451153,0.735373,0.330019,-0.191160,1.277808,-0.524109,1.232136,-2.261542,...,-0.172664,-0.327027,-0.003326,-0.997452,-0.050477,-0.188121,-0.175195,-0.152791,62.91,0
158246,111102.0,2.103885,0.050468,-1.432952,0.325548,0.375125,-0.725293,0.040783,-0.335604,2.113656,...,0.091110,0.641035,-0.004778,0.425669,0.353906,-0.474106,-0.025983,-0.056976,1.00,0
165215,117279.0,2.076271,-0.151421,-1.751806,-0.181917,0.534995,-0.343475,0.156673,-0.093890,0.510772,...,-0.128483,-0.277073,0.171547,0.216132,0.047025,-0.096484,-0.059622,-0.072734,1.00,0

In [17]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [21]:
new_dataset['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64

In [19]:
# Now we have uniformly distributed data

In [20]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94653.020325,0.138579,-0.104635,0.034987,-0.061532,-0.024096,0.084381,-0.038802,0.012446,0.066617,...,-0.006440,-0.008495,0.005975,0.019511,-0.034654,0.034857,-0.028223,0.017883,0.008861,88.106748
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [21]:
# Splitting the data into Feauture and Targets(either 0 or 1)
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [22]:
X

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
97174,66100.0,-2.843342,1.776891,-0.236393,0.804371,-0.506136,-0.589108,-0.035618,0.775954,0.221614,...,0.106967,0.055437,0.440161,0.053883,0.069504,-0.030361,-0.298151,0.189624,0.488968,11.35
84701,60425.0,-0.139545,-0.713210,-0.553410,-2.490814,1.774134,3.146770,-0.463608,0.692360,-3.040497,...,0.166476,-0.387555,-1.086608,0.224642,0.941888,-0.275908,-0.364324,0.121859,0.144443,72.97
103811,68803.0,-0.346197,1.190526,0.817227,1.092829,-0.475902,-0.980194,0.497341,0.204739,-0.798553,...,-0.056500,0.217716,0.514919,0.048877,0.730500,-0.150496,-0.350555,-0.050742,-0.011798,39.00
183409,125785.0,-0.467606,-0.656097,0.766453,-2.748506,-0.003965,-0.429500,0.131027,-0.653757,-1.383998,...,-0.415051,-0.158753,0.175147,-0.130317,0.567461,-0.526837,-0.360220,-0.738257,-0.119855,15.00
126037,77905.0,1.096984,-0.598923,1.518756,1.115981,-1.269266,0.660641,-1.044155,0.306317,1.805750,...,-0.039566,-0.107764,0.135700,-0.155280,-0.025546,0.465917,0.512095,0.049825,0.028509,40.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,1.252967,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.226138,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.247968,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.306271,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.017652,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53

In [23]:
Y

97174     0
84701     0
103811    0
183409    0
126037    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [24]:
# Split the data into training data and testing data
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=.2, stratify=Y, random_state=2)

In [25]:
print(X.shape, X_train.shape, X_test.shape)

(984, 30) (787, 30) (197, 30)

In [26]:
# Model Training
# Logistic Regression

model = LogisticRegression(max_iter=1000)

In [27]:
# Training the logistic regression model with training data
model.fit(X_train, Y_train)

LogisticRegression(max_iter=1000)

In [28]:
# Model Evaluation
# Accuracy Score

In [29]:
# Accuracy on Training data
X_train_prediction = model.predict(X_train)
training_data_accuracy= accuracy_score(X_train_prediction, Y_train)

In [30]:
print("Accuracy on training data : ", training_data_accuracy)

Accuracy on training data :  0.9339263024142312

In [31]:
# Accuracy on Test Data
X_test_prediction= model.predict(X_test)
test_data_accuracy= accuracy_score(X_test_prediction, Y_test)

In [32]:
print('Accuracy score on test data : ', test_data_accuracy)

Accuracy score on test data :  0.8984771573604061